.results {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  mat-list {
    min-width: 200px;
  }

  mat-list-item {
    color: red;
  }

  .correct {
    color: green;
  }
}
