<div class="quiz" *ngIf="quiz">
  <div class="questions" *ngIf="!showResults">
    <app-question-form
      [question]="quiz.questions[currentQuestionIndex]"
      (onChoiceMade)="updateChoice($event)"
    ></app-question-form>
    <!--
    <button class="md-button md-raised" @click="removeTodo(todo)">
        <span class="md-button__label">Delete</span>
      </button> -->

    <button
      class="mat-button mat-raised-button"
      color="primary"
      (click)="nextOrViewResults()"
      [disabled]="!answers.values[currentQuestionIndex]"
    >
      {{
        currentQuestionIndex === quiz.questions.length - 1
          ? "View results"
          : "Next"
      }}
    </button>
  </div>
</div>
